* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: roboto;
}

nav {
	background-color: var(--navbar-color-background);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	position: fixed;
	width: 100%;
}

ul {
	list-style: none;
}

.first {
	color: var(--title-color-first);
}

.second {
	color: var(--title-color-second);
}

.third {
	color: var(--title-color-third);
}

/* Inicio del header */
header nav {
	height: 100px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title-gizmo {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.title-img {
	width: 92px;
	height: 80px;
}

.header-nav {
	display: flex;
	gap: 1rem;
	font-size: 16px;
}
/* Fin del header */

/* Inicio del main */
main {
	padding-block: 8rem 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--main-color-background);
}

.card {
	width: 490px;
	height: 350px;
	border-radius: 5px;
	overflow: hidden;
	margin: 2px;
}

h2 {
	margin: 1rem;
}
/* Inicio card-1 */
.card-1 {
	background-image: url("../img/delivery@2x.png");
	background-size: cover;
	background-position: center;;
}
/* Fin de card-1 */

/* Inicio card-2 */
.card-2 {
	background-color: white;
}

.card-2 h2 {
	text-align: center;
}

article {
	display: flex;
	height: 70%;
	justify-content: space-around;
	align-items: center;
	margin: 1rem;
	
}

.top5 ol li {
	font-weight: 700;
	margin-top: 0.5em;
	font-size: 16px;
}
.title-img {
	height: 129px;
	width: 92px;
}
/* Fin de card-2 */

/* Fin del main */

/* Inicio del footer */

footer nav {
	height: 150px;
	bottom: 0;
}

.hamburger {
	display: none;
}

.footer-nav ul li {
	margin-block: 0.5em;
}
/* Fin del footer */

@media only screen and (max-width: 980px) {
	main {
		flex-direction: column-reverse;
		padding-block: 5rem 4rem;
	}

	.card {
		width: min(464px, 90%);
		height: min(331px, 40%);
		border-radius: 5px;
		overflow: hidden;
		margin: 2px;
	}

	.header-nav {
		display: none;
	}

	.hamburger {
		display: block;
	}

	footer nav {
		flex-direction: row-reverse;
		height: 84px;
	}

	.footer-nav ul li {
		margin-block: 0;
		font-size: smaller;
	}
}
