@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,800&family=Ubuntu:ital,wght@0,300;0,500;1,400&display=swap');
:root {
	--header-color-secondary: #D1891C;
    --header-color-primary: #00669F;
    --card-color: #F3F3F3;
    --font-family: roboto;
}
